<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https:/cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app">

    <div v-if="showBooks">
        <ul>
            <li v-for="book in books">
             <h3>{{ book.title }}</h3>
            </li>
        </ul>
    </div>
    
    <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>show books</span>
    </button>


   <!-- <p >{{ title }} - {{ author }} - {{ age }}</p>

    <button v-on:click="age++">Increase age</button>
    <button v-on:click="age--">Decrease age</button>
    <div @click="changeTitle('baslık2')">Sakın tıklama</div>  -->
  </div>


    <script>
        new Vue({
            el:"#app",
            data : {
                showBooks: true,
                books: [
                    {title: 'AZ' , author:'Hakan Günday'},
                    {title: 'DAHA' , author:'Hakan Günday'},
                    {title: 'AZİL' , author:'Hakan Günday'},
                    {title: 'KİNYAS ve KAYRA' , author:'Hakan Günday'},
                ]
            /*    title: 'Baslık',
                author: 'KKK',
                age: 22 */
            },

            methods: {
                toggleShowBooks(){
                    this.showBooks= !this.showBooks
                }
            },

          /*  methods: {
                changeTitle(title) {
                    this.title=title
                }
            }*/
        })
    </script>
</body>
</html>